*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  width: 100%;
  min-height: 100vh;
  color: #7280a7;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  background: #e0e8ff top/contain no-repeat url(../images/pattern-background-mobile.svg);
}
@media (min-width: 768px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

.Card {
  width: 95%;
  margin: 3rem;
  max-width: 37.5rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #fff;
}
@media (min-width: 768px) {
  .Card {
    max-width: 41rem;
  }
}
.Card-image {
  width: 100%;
}
.Card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 3rem;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (min-width: 768px) {
  .Card-content {
    padding: 4.5rem;
  }
}
.Card-content > * {
  margin-bottom: 2rem;
}
.Card-heading {
  color: #1f2f56;
  font-size: 2.3rem;
  font-weight: 900;
}
@media (min-width: 768px) {
  .Card-heading {
    font-size: 2.8rem;
  }
}
.Card-text {
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.6;
}
.Card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f7ff;
  width: 100%;
  padding: 1.3rem;
  border-radius: 1rem;
}
@media (min-width: 768px) {
  .Card-price {
    padding: 1.8rem;
  }
}
.Card-price-details {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: left;
  margin-left: 1rem;
}
@media (min-width: 768px) {
  .Card-price-details {
    margin-left: 2rem;
  }
}
.Card-price-details-heading {
  color: #1f2f56;
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.Card-price-details-text {
  font-size: 1.5rem;
}
.Card-price-link {
  font-size: 1.3rem;
  font-weight: 900;
  color: #3829e0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media (min-width: 768px) {
  .Card-price-link {
    font-size: 1.4rem;
  }
}
.Card-price-link:hover {
  opacity: 0.6;
  text-decoration: none;
}
.Card-button {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  color: #fff;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #3829e0;
  -webkit-box-shadow: 0 15px 30px 0 rgba(56, 41, 224, 0.3);
  box-shadow: 0 15px 30px 0 rgba(56, 41, 224, 0.3);
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.Card-button:hover {
  opacity: 0.7;
}
.Card-link {
  color: #7280a7;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 900;
  margin-bottom: 0;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.Card-link:hover {
  color: #1f2f56;
}

.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 1rem;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  margin-bottom: 1rem;
}
.attribution a {
  color: #3e52a3;
}