*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: 100%;
  min-height: 100vh;
  color: $color-Desaturated-blue;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  background: $color-Pale-blue top / contain no-repeat url(../images/pattern-background-mobile.svg);
  @include mq('tablet') {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

.Card {
  width: 95%;
  margin: 3rem;
  max-width: 37.5rem;
  border-radius: 2rem;
  overflow: hidden;
  background-color: #fff;
  @include mq('tablet') {
    max-width: 41rem;
  }
  &-image {
    width: 100%;
  }
  &-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include mq('tablet') {
      padding: 4.5rem;
    }
    & > * {
      margin-bottom: 2rem;
    }
  }
  &-heading {
    color: $color-Dark-blue;
    font-size: 2.3rem;
    font-weight: 900;
    @include mq('tablet') {
      font-size: 2.8rem;
    }
  }
  &-text {
    width: 100%;
    // padding-left: 2rem;
    // padding-right: 2rem;
    font-size: 1.6rem;
    line-height: 1.6;
    @include mq('tablet') {
      // padding-left: 0;
      // padding-right: 0;
    }
  }
  &-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $color-Very-pale-blue;
    width: 100%;
    padding: 1.3rem;
    border-radius: 1rem;
    @include mq('tablet') {
      padding: 1.8rem;
    }
    &-details {
      flex: 1 0 auto;
      text-align: left;
      margin-left: 1rem;
      @include mq('tablet') {
        margin-left: 2rem;
      }
      &-heading {
        color: $color-Dark-blue;
        font-weight: 900;
        margin-bottom: 0.5rem;
      }
      &-text {
        font-size: 1.5rem;

      }
    }
    &-link {
      font-size: 1.3rem;
      font-weight: 900;
      color: $color-Bright-blue;
      transition: all .4s ease;
      @include mq('tablet') {
        font-size: 1.4rem;
      }
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
  }
  &-button {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    color: #fff;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: $color-Bright-blue;
    box-shadow: 0 15px 30px 0 rgba($color-Bright-blue,.3) ;
    margin-top: 1rem;
    cursor: pointer;
    transition: opacity .4s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  &-link {
    color: $color-Desaturated-blue;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 900;
    margin-bottom: 0;
    transition: color .4s ease;
    &:hover {
      color: $color-Dark-blue;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  bottom: 1rem;
  flex-basis: 100%;
  margin-bottom: 1rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}
